target/
.settings/
.project
.classpath
.springBeans
.metadataspringfaces-samples/springfaces-traveladvisor/bin
springfaces-samples/springfaces-traveladvisor/bin
springfaces-samples/springfaces-traveladvisor/.metadata
.gitconfig
