body {
	background-color: #EEEEEE;
}

table {
	margin-bottom: 0;
}

table tbody tr:nth-child(even)
td,table tbody tr.even td {
	background: transparent;
}

input {
	margin: 0 !important;
}

div.container {
	background-color: #FFFFFF;
}

div.header {
	padding: 16px 8px 24px 8px;
	border-bottom: 2px solid green;
}

div.header-padding {
	padding-bottom: 20px;
}

div.main {
	min-height: 300px;
}


div.footer {
	padding-top: 5px;
	background: #EEEEEE;
}

div.footer ul {
	margin: 0;
	padding: 0;
}

div.footer ul li {
	list-style-type: none;
	display: inline;
	padding: 0 0.4em 0 0.6em;
	border-left: 1px solid #BBBBBB;
}

div.footer ul li.first {
	border-left: none;
}

div.footer ul li a:link,
div.footer ul li a:visited,
div.footer ul li a:active,
div.footer ul li a:hover {
	color: black;
	text-decoration: none;
}

div.footer ul li a:hover {
	text-decoration: underline;
}

div.top {
	padding-bottom: 1em;
}

div.spaced {
	padding: 0.5em 0 0.5em 0;
}

.title-container .title-context img {
	vertical-align:middle;
	padding-right: 4px;
	margin-bottom: 6px;
}

.title-container .title-context {
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: -0.5em;
}

.title-container .title-context a {
	color: black;
	text-decoration: none;
}

.title-container .title-context a:hover {
	text-decoration: underline;
}

.title-container .title {
	font-size: 3em;
}
