body {
	background-color: #EEEEEE;
}

table {
	margin-bottom: 0;
}

table tbody tr:nth-child(even)
td,table tbody tr.even td {
	background: transparent;
}

div.container {
	background-color: #FFFFFF;
}

div.header {
	padding: 16px 8px 24px 8px;
	border-bottom: 2px solid green;
}

div.header-padding {
	padding-bottom: 20px;
}

div.main {
	min-height: 300px;
}


div.footer {
	padding-top: 5px;
	background: #EEEEEE;
}

div.footer ul {
	margin: 0;
	padding: 0;
}

div.footer ul li {
	list-style-type: none;
	display: inline;
	padding: 0 0.4em 0 0.6em;
	border-left: 1px solid #BBBBBB;
}

div.footer ul li.first {
	border-left: none;
}

div.footer ul li a:link,
div.footer ul li a:visited,
div.footer ul li a:active,
div.footer ul li a:hover {
	color: black;
	text-decoration: none;
}

div.footer ul li a:hover {
	text-decoration: underline;
}